.navbar{
  position:sticky;
  top:0;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 80px;
  background:rgba(2,6,23,.9);
  backdrop-filter:blur(12px);
  border-bottom:1px solid rgba(255,255,255,.05);
  z-index:1000;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
}

.logo{
  font-size:40px;
  font-weight:700;
  color:#38bdf8;
  text-decoration: none;
}

.nav-links{
  display:flex;
  gap:40px;
  list-style:none;
  color: white;
}

.nav-links li{
  color:#cbd5e1;
  transition:.3s;
}

.nav-links li:hover {
  color: #38bdf8;
  cursor: pointer;
}

.nav-links a{
  text-decoration:none;
  color:#cbd5e1;
  transition:.3s;
}

.nav-links a:hover{
  color:#38bdf8;
}

.login-btn{
  background:#38bdf8;
  color:white;
  border:none;
  padding:12px 24px;
  border-radius:12px;
  font-weight:600;
  transition:.3s;
}

.login-btn:hover{
  transform:translateY(-2px);
}

.nav-icons{
  display:flex;
  align-items:center;
  gap:20px;
}

.cart-container{
  color: white;
}

.wishlist-container{
  color: white;
}

/*login*/
.user-section{
  display:flex;
  align-items:center;
  gap:10px;
}

.user-email{
  color:white;
  font-size:.9rem;
  max-width:150px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

@media (max-width: 768px){

  .navbar{
    padding:15px 20px;
    flex-wrap:wrap;
    gap:15px;
  }

  .logo{
    font-size:2rem;
  }

  .nav-links{
    width:100%;
    justify-content:center;
    gap:15px;
    flex-wrap:wrap;
    font-size:0.9rem;
  }

  .nav-icons{
    width:100%;
    justify-content:center;
    flex-wrap:wrap;
    gap:10px;
  }

  .user-section{
    flex-direction:column;
    gap:8px;
  }

  .user-email{
    max-width:180px;
    text-align:center;
  }

  .login-btn{
    padding:8px 16px;
  }

  .user-email{
    display:none;
  }

}